@import "../../assets/styles/colors";
// @import "../../assets/styles/fonts";

.menu-container {
  height: calc(100vh - 50px);
  background-color: $teal;
  animation: pop 1s;
  width: 250px;
}

@keyframes pop {
  from {
    width: 0;
  }
  to {
    width: 250px;
  }
}

.upgrade-container,
.project-container {
  margin-top: 100px;
  color: $background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  white-space: nowrap;
}

.upgrade-container {
  height: 200px;
}

.project-container {
  height: 115px;
}

.upgrade-container > h2,
.project-container > h2 {
  font-family: "Wendy One", sans-serif;
}

.upgrade-coin-container {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-evenly;
  width: 200px;
  margin: 0 auto;
}

.link {
  margin-top: 5px;
  color: $background !important;
}

.coin-cost-container {
  display: flex;
  flex-direction: row;
  width: 50px;
  justify-content: space-evenly;
  align-items: center;
}
