@import "../../assets/styles/colors";
// @import "../../assets/styles/fonts";

.menu-container,
.menu-container-close {
  background-color: $teal;
  display: block !important;
  height: calc(100vh - 50px);
}

.menu-container {
  animation: pop 1s;
  width: 250px;
}

.menu-container-close {
  animation: pop2 1s;
  width: 0px;
}

@keyframes pop {
  from {
    width: 0;
  }
  to {
    width: 250px;
  }
}

@keyframes pop2 {
  from {
    width: 250px;
  }
  to {
    width: 0px;
  }
}

.upgrade-container,
.project-container {
  color: $background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
  overflow-x: hidden;
  white-space: nowrap;
}

.upgrade-container {
  height: 200px;
}

.project-container {
  height: 115px;
}

.upgrade-container > h2,
.project-container > h2 {
  font-family: "Wendy One", sans-serif;
  margin: 0 auto;
  width: 220px;
}

.upgrade-coin-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  white-space: nowrap;
  width: 200px;
}

.coin-cost-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50px;
}

.link {
  color: $background !important;
  margin-top: 5px;
}
