@import "../../assets/styles/colors";
@import "../../assets/styles/fonts";

h1 {
  font-family: $modak;
  color: $background;
  margin-right: 15px;
}

.header-container {
  background-color: $purple;
  height: 50px;
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
