@import "../../assets/styles/colors";
@import "../../assets/styles/fonts";
@import "../../assets/styles/components";

h1 {
  font-family: $wendy;
  color: $background;
  margin-right: 15px;
}

.cookie-num {
  color: $background;
  margin-right: 25px;
}

.coin {
  width: 15px;
  height: 15px;
}

.header-container {
  background-color: $purple;
  height: 50px;
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right-container {
  display: flex;
  flex-direction: row;
}

.menu {
  margin-left: 15px !important;
}
