@import "../../assets/styles/colors";

.footer-container {
  background-color: $purple;
  height: 50px;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $background;
  font-weight: 700;
}
