@import "../../assets/styles/colors";

.footer-container {
  align-items: center;
  background-color: $purple;
  color: $background;
  display: flex;
  height: 50px;
  font-weight: 700;
  justify-content: center;
  position: absolute;
  width: 100vw;
}
