@import "../../assets/styles/colors";
@import "../../assets/styles/components";

.play-area-container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.score {
  background-color: $yellow;
  width: 50px;
}

.stat-container {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.game-over {
  position: absolute;
  top: 50px;
}

.question-number {
  background-color: $blue;
  width: 100px;
}
