.button {
  color: $background;
  padding: 10px 15px;
  white-space: nowrap;
  border-radius: 10px;
  margin: 0;
  font-weight: 900;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
}

.button:hover {
  backdrop-filter: brightness(85%) !important;
}
