@import "../../../assets/styles/colors";
@import "../../../assets/styles/fonts";
@import "../../../assets/styles/components";

.card-container,
.answer-card {
  height: 325px;
  width: 550px;
  background-color: $background;
  border-radius: 25px;
  transition: 0.25s;
  margin: auto;
  margin-top: 30px;
}

.answer-card {
  top: 240px;
  position: absolute;
  z-index: 9 !important;
  border: 10px solid $purple;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 313px;
  width: 530px;
}

.answer-response {
  height: 95px !important;
  margin-top: -100px;
  width: 520px;
}

.card-container {
  z-index: 10;
}

.answers {
  border: 10px solid $purple;
  border-top: none;
  height: 225px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.child-answer {
  margin: auto 0;
}

.first {
  display: block !important;
}

.form-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 75px 75px;
}

.next-question {
  width: 130px;
  background-color: $pink;
  cursor: pointer;
}

.question,
.answer-response {
  font-size: 23px;
  color: $background;
  font-family: $modak;
  padding: 0 15px;
  background-color: $lightpurple;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio {
  background-color: $teal;
  width: 150px;
  margin: 20px auto;
  cursor: pointer;
  white-space: pre-wrap;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  background-color: $blue;
  width: 100px;
  margin-top: 25px;
}
